h1,
h2,
h3,
h4,
h5,
h6 {
	color: currentColor;
	a:hover {
		border: none;
		text-decoration: underline dotted;
	}
}

h1,
%h1 {
	font-size: 40pt;
	font-weight: 700;
	line-height: 1.15;
}

%h2,
h2 {
	font-size: 34pt;
	font-weight: 600;
	line-height: 1.2;
}

%h3,
h3 {
	font-size: 28pt;
	font-weight: 600;
	line-height: 1.28;
}

%h4,
h4 {
	font-size: 24pt;
	font-weight: 500;
	line-height: 1.3;
}

%h5,
h5 {
	font-size: 18pt;
	font-weight: 500;
	line-height: 1.2;
}

%h6,
h6 {
	font-size: 15pt;
	font-weight: 500;
	line-height: 1.3;
}

%p,
p {
	font-size: 14pt;
	font-weight: 300;
	line-height: 1.5;
}

a,
%a {
	color: $c-link;
	text-decoration: none;
}

a:hover {
	text-decoration: underline dotted;
}